.HeroBlogs{
    // height: 100vh;
    background-color: var(--background);
    padding: 20vh 10px 20vh 10px;
    // padding: 10px;
    h3{
        font-size: 36px;
        font-weight: 600;
        // margin-bottom: 10vh;
    }
    .BlogsContent{
        display: grid;
        grid: 1fr / 1fr 1fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 900px){
    .HeroBlogs{
        .BlogsContent{
            grid: 1fr / 1fr 1fr;
        }
    }
}