.AboutEducation{
    position: relative;
    padding: 10vh 20px 10vh 20px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    h3{
        grid-column: 1/ span 1;
        font-size: 1.75rem;
    }
    .EducationContainer{
        grid-column: 2 / span 2;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        .Education{
            padding: 10px;
            display: grid;
            gap: 5px;
            img{
                height: 3rem;
            }
            h2{
                font-size: 1.25rem;
                font-weight: 500;
            }
            h3{
                font-size: 1.125rem;
            }
            p{
                color: var(--offforeground);
            }
        }
    }
}