.Hero{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    h1{ 
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3rem;
        text-align: center;
    }
    h3{
        font-size: 1rem;
        font-weight: 300;
        // line-height: 2rem;
        text-align: center;
    }
    .CTAContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            background-color: var(--offbackground);
            margin: 5px;
            font-size: 0.75rem;
            font-weight: 600;
            border-radius: 5px;
            padding: 7px 10px 7px 10px;
            // border: 1px solid black;
        }
    }
    h5{
        text-align: center;
    }
}