.Footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-weight: 600;
    }
    .rightLinks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        .GitHub{
            margin-left: 20px;
        }
        .FooterLink{
            margin-left: 20px;
        }
    }
}
@media (orientation: portrait) {
  .Footer {
    flex-direction: column;
  }
}