.Footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-weight: 600;
    }
    .rightLinks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        .GitHub{
            margin-left: 20px;
        }
        .FooterLink{
            margin-left: 20px;
        }
    }
}
@media (orientation: portrait) {
  .Footer {
    flex-direction: column;
    gap: 10px;
    // justify-content: flex-start;
    align-items: flex-start;
    h2{
        font-size: 0.75rem;
    }
    .rightLinks{
        // flex-direction: column;
        align-items: flex-start;
        .GitHub, .FooterLink{
            margin: 0px 10px 0px 0px;
        }
    }
  }
}