.navbar{
    position: fixed;
    right: 0px;
    padding: 20px 20px 0px 20px;
    height: 5vh;
    box-sizing: border-box;
    // background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 5;
    .NavbarElement{
        // height: 1.75rem;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 10px;
    }
    .NavbarElement:hover{
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    .CTA{
        // background-color: var(--foreground);
        // color: var(--background);
        // padding: 5px 10px 5px 10px;
        border-radius: 5px;
        font-weight: 700;
    }
}

@media (max-width: 900px){
    .navbar{
        position: absolute;
        left: 0px;
        // padding: 10px 10px 0px 10px;
        height: 20vh;
        // box-sizing: border-box;
        // background-color: #161616;
        display: flex;
        align-items: flex-start;
        // justify-content: center;
        flex-direction: column;
        text-align: left;
        .NavbarElement{
            display: block;
            font-size: 1.25rem;
            line-height: 1rem;
            font-weight: 500;
            margin: 0px 0px 0.75rem 0px;
        }
        // .NavbarElement:nth-child(1){
        //     margin-bottom: 15px;
        //     font-size: 2.5rem;
        // }
    }
}

@media (max-width: 650px){
    .navbar{
        height: 25vh;
        .NavbarElement{
            font-size: 1.125rem;
        }
    }
}