.preloaderWrapper{
    position: fixed;
    inset: 0;
    z-index: 100;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
    background-color: var(--foreground);
    color: var(--background);
    animation: opacityAnimation 1ms forwards;
    animation-delay: 3.4s;
    backdrop-filter: invert(1);
    h2{
    }
    .loaderIcon{
        fill: var(--background);
        // backdrop-filter: invert(1);
        animation: loadingAnimation 1.5s ease-in-out forwards;
        animation-delay: 2s;
    }
    @keyframes loadingAnimation {
        0%{
            fill: var(--background);
            transform: scale(1);
            // opacity: 1;
        }
        25%{
            // fill: #f5f5f5;
            transform: scale(0.80);
        }
        99%{
            opacity: 1;
            transform: scale(50);
        }
        100%{
            fill: var(--background);
            opacity: 0;
        }
    }
    @keyframes opacityAnimation {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}