.Experience{
  // padding-bottom: 10vh;
  margin-top: 10px;
  animation: textReveal;
  animation-timeline: view();
  animation-range: normal 50%;
  transform: translateY(150px);
  animation-fill-mode: forwards;
  .ExperienceImageContainer{
    position: relative;
    // background-color: var(--foreground);
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: -10px;
    img{
      height: 2.5rem;
      // clip-path: polygon(0% 15%, 40% 15%, 35% 0%, 45% 0%, 50% 15%, 55% 0%, 65% 0%, 60% 15%, 100% 15%, 100% 100%, 0% 100%);
      // position: absolute;
      // height: 100%;
      width: auto;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      // animation: imageReveal 1s ease-out both;
      // animation-timeline: view();
    }
    @keyframes imageReveal {
      from {
        // transform: translate(-50%, -50%) scale(1.25);
        opacity: 0;
      }
      to {
        // transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
    .IDCover{
      position: absolute;
      top: 5px;
      z-index: 2;
      width: 100%;
      height: auto;
      fill: #fff;
      // mix-blend-mode: difference;
    }
  }
  .ExperienceImageContainer:hover{
    img{
      // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      // transform: scale(1.25%);
    }
  }
  .ExperienceContent{
    h2{
      padding: 20px 0px 10px 0px;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .line2{
      padding: 0px 0px 10px 0px;
      display: flex;
      justify-content: space-between;
      align-items: left;
      flex-direction: column;
      gap: 10px;
      h3{
        font-size: 1rem;
      }
      p{
        font-size: 0.75rem;
        color: darkgrey;
      }
    }
    .copyDesc{
      padding: 5px 20px 10px 0px;
      p{
        margin-bottom: 20px;
        animation: textReveal;
        animation-timeline: view();
        animation-range: normal 50%;
        transform: translateY(150px);
        animation-fill-mode: forwards;
      }
      @keyframes textReveal {
        from {
            transform: translateY(100px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
      }
    }
  }
}

// .Experience:nth-child(1){
//   grid-column: 1 / span 2;
// }

@media(max-width: 1025px){
  .Experience{
    .ExperienceImageContainer{
      width: auto;
      img{
        // transform: translateY(-50%);
        left: 0px;
        border-radius: 5px;
      }
    }
    .ExperienceContent{
      h2{
        font-size: 1.5rem;
      }
      .line2{
        padding: 0px;
        h3{
          font-size: 1.5rem;
        }
        p{
          font-size: 1.25rem;
        }
        }
      .copyDesc{
        p{
          font-size: 1.25rem;
        }
      }
      .skills{
        font-size: 1.125rem;
      }
    }
  }
}


@media(max-width: 650px){
  .Experience{
    .ExperienceImageContainer{
      width: auto;
      img{
        // transform: translateY(-50%);
        left: 0px;
        border-radius: 5px;
      }
    }
    .ExperienceContent{
      h2{
        font-size: 1.5rem;
      }
      .line2{
        padding: 0px;
        h3{
          font-size: 1.25rem;
        }
        p{
          font-size: 1.125rem;
        }
        }
      .copyDesc{
        p{
          font-size: 1.125rem;
        }
      }
      .skills{
        font-size: 1rem;
      }
    }
  }
}