.HeroContact{
    position: relative;
    padding: 20px;
    .contactForm{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        h4{
            grid-column: 2/ span 1;
            font-size: 6rem;
            font-weight: 300;
            line-height: 6.5rem;
        }
    }
}

@media(max-width: 769px){
    .HeroContact{
        .contactForm{
            display: block;
            h4{
                font-size: 4rem;
                line-height: 4.5rem;
            }
        }
    }
}