.HeroProject{
    // padding-bottom: 10vh;
  .ProjectThumbnailContainer{
    position: relative;
    background-color: var(--foreground);
    overflow: hidden;
    border-radius: 5px;
    height: 40vh;
    // width: 6vw;
    img{
      position: absolute;
      // height: 100%;
      width: 100%;
      // height: 3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .HeroProjectContent{
    h3{
      padding: 20px 0px 10px 0px;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .line2{
      padding: 0px 0px 10px 0px;
      display: flex;
      justify-content: space-between;
      align-items: left;
      flex-direction: column;
      gap: 10px;
      h4{
        display: flex;
        gap: 1rem;
        img{
          height: 2.5rem;
        }
      }
      h5{
        font-size: 1rem;
      }
      h6, .ProjectReadMore{
        min-width: 4rem;
        font-size: 1rem;
        color: darkgrey;
      }
    }
    .copyDesc{
      padding: 5px 20px 10px 0px;
      p{
        margin-bottom: 20px;
      }
    }
  }
}

// .Experience:nth-child(1){
//   grid-column: 1 / span 2;
// }

@media(max-width: 1025px){
  .HeroProject{
    .ProjectThumbnailContainer{
      background-color: transparent;
    }
    .HeroProjectContent{
      h3{
        font-size: 2rem;
        margin-bottom: 0px;
      }
      .line2{
        h5{
          font-size: 1.25rem;
        }
        h6, .ProjectReadMore{
          font-size: 1.125rem;
        }
      }
      .copyDesc{
        p{
          font-size: 1.125rem;
        }
      }
    }
  }
}

@media(max-width: 650px){
  .HeroProject{
    .ProjectThumbnailContainer{
      background-color: transparent;
      height: 15rem;
    }
    .HeroProjectContent{
      h3{
        font-size: 1.5rem;
        margin-bottom: 0px;
      }
      .line2{
        h5{
          font-size: 1.125rem;
        }
        h6, .ProjectReadMore{
          font-size: 1rem;
        }
      }
      .copyDesc{
        p{
          font-size: 1rem;
        }
      }
    }
  }
}