.HeroProjects{
    // background-color: #161616;
    margin-top: 20vh;
    height: 100vh;
    // padding: 10px;
    h3{
        // color: black;
        font-size: 36px;
        // font-weight: 500;
        padding: 10px;
    }
}