.Footer{
    // background-color: #fff;
    // margin-top: 30vh;
    // width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.25fr 0.5fr;  
    padding: 10px;
    .Logo{
        // width: 10px;
        margin: 0px 0px 20px 0px;
        // height: 100px;
        mix-blend-mode:difference;
        color: white;
    }
    .FooterLinksRow1{
        grid-column: 3 / span 1;
    }
    .FooterLinksRow2{
        text-align: right;
        grid-column: 4 / span 1;
    }
}

@media(max-width: 600px){
    .Footer{
        // width: 100%;
        .Logo{
            height: 10vh;
        }
    }
}