.ProjectPageContainer{
    position: relative;
    padding: 10px 20px 30vh 20px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row: 10fr 1fr;
    .ProjectSubPageContainer{
        grid-column: 2 / span 1;
        h3{
            display: flex;
            .BackButton{
                display: flex;
                align-items: center;
                img{
                    height: 1.25rem;
                }
            }
            grid-column: 1/ span 1;
            font-size: 1.25rem;
        }
        .ProjectHeader{
            grid-column: 2 / span 1;
            padding: 10px;
            display: grid;
            gap: 20px;
            h1{
                font-size: 1.75rem;
                font-weight: 600;
            }
            h3{
                font-size: 1.25rem;
                color: var(--offforeground);
            }
            img{
                border-radius: 5px;
            }
        }
    }
    Link{
        grid-row: 2 / span 1;
        position: absolute;
        background-color: purple;
    }
}