.HeroExperiences{
    padding-bottom: 250px;
    // height: 100vh;
    // color: #161616;
    // background-color: #161616;
    // border-radius: 0px 0px 0px 250px;
    h3{
        font-size: 36px;
        // font-weight: 600;
        padding: 10px;
        // margin-bottom: 10vh;
    }
}